
@import "./../node_modules/bootstrap/dist/css/bootstrap.css"
@import "./../node_modules/bootstrap-vue/dist/bootstrap-vue.css"

/**
 Vendor
**/
@import "./components/*"

html
  overflow-x hidden

  .clickable
    cursor pointer
